<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Password Reset</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">Bookmarks</span>
    <span class="user">
      <a href="{% url 'focus:login' %}">Login</a>
      <a href="{% url 'focus:signup' %}">Signup</a>
    </span>
  </div>
  <div id="content">
    <h1>Password Reset</h1>
    <p>Please enter your email address to receive a password reset link:</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" value="Send Reset Link"></p>
    </form>
  </div>
</body>
</html>
